# --- SECURITY ---
# Ignore the Variable file containing cleartext passwords
inventory/group_vars/all.yml

# Ignore the Backups folder (contains raw configs with secrets)
backups/

# Ignore any local environment files
.env
*.env

# --- SYSTEM JUNK ---
.DS_Store
*.swp
*.retry
*.sql
