version: 0.16
mqtt:
host: {{ mqtt_broker_ip }}
  port: 1883
  client_id: titan_sentry_mac

detectors:
  coral:
    type: cpu

ffmpeg:
  hwaccel_args: []

cameras:
  titan_eye_01:
    snapshots:
      enabled: true
      retain:
        default: 3
    ffmpeg:
      inputs:
        - path: rtsp://{{ camera_user }}:{{ camera_password }}@{{ host_ip_camera_front }}:8554/unicast
          roles:
            - detect
            - record
    detect:
      width: 1920
      height: 1080
      fps: 5

detect:
  enabled: true

record:
  enabled: true
  retain:
    days: 3
    mode: motion

semantic_search:
  enabled: false
  model_size: small

lpr:
  enabled: false

classification:
  bird:
    enabled: false
