services:
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    ports:
      - "8989:8989"
    restart: unless-stopped
    environment:
      - PUID={{ ansible_user_uid | default('1000') }}
      - PGID={{ ansible_user_gid | default('1000') }}
      - TZ=America/Chicago
    volumes:
      - {{ docker_dir }}/media/config/sonarr:/config
      - {{ media_base_path }}/data/tv:/tv
      - {{ media_base_path }}/data/downloads:/downloads
    networks:
      - vault_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sonarr.rule=Host(`sonarr.vault.local`)"
      - "traefik.http.routers.sonarr.entrypoints=web"
      - "traefik.http.routers.sonarr.middlewares=vault-auth@docker"
      - "traefik.http.services.sonarr.loadbalancer.server.port=8989"

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    ports:
      - "7878:7878"
    restart: unless-stopped
    environment:
      - PUID={{ ansible_user_uid | default('1000') }}
      - PGID={{ ansible_user_gid | default('1000') }}
      - TZ=America/Chicago
    volumes:
      - {{ docker_dir }}/media/config/radarr:/config
      - {{ media_base_path }}/data/movies:/movies
      - {{ media_base_path }}/data/downloads:/downloads
    networks:
      - vault_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.radarr.rule=Host(`radarr.vault.local`)"
      - "traefik.http.routers.radarr.entrypoints=web"
      - "traefik.http.routers.radarr.middlewares=vault-auth@docker"
      - "traefik.http.services.radarr.loadbalancer.server.port=7878"

  sabnzbd:
    image: linuxserver/sabnzbd:latest
    container_name: sabnzbd
    ports:
      - "8085:8080"
    restart: unless-stopped
    environment:
      - PUID={{ ansible_user_uid | default('1000') }}
      - PGID={{ ansible_user_gid | default('1000') }}
      - TZ=America/Chicago
    volumes:
      - {{ docker_dir }}/media/config/sabnzbd:/config
      - {{ media_base_path }}/data/downloads:/downloads
    networks:
      - vault_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sabnzbd.rule=Host(`sabnzbd.vault.local`)"
      - "traefik.http.routers.sabnzbd.entrypoints=web"
      - "traefik.http.routers.sabnzbd.middlewares=vault-auth@docker"
      - "traefik.http.services.sabnzbd.loadbalancer.server.port=8080"

  homarr:
    image: ghcr.io/ajnart/homarr:latest
    container_name: homarr
    restart: unless-stopped
    ports:
      - "7575:7575"
    environment:
      - PUID={{ ansible_user_uid | default('1000') }}
      - PGID={{ ansible_user_gid | default('1000') }}
      - TZ=America/Chicago
    volumes:
      - {{ docker_dir }}/media/config/homarr/configs:/app/data/configs
      - {{ docker_dir }}/media/config/homarr/icons:/app/public/icons
      - {{ docker_dir }}/media/config/homarr/data:/data
      # REQUIRED: Docker Socket for automatic scanning
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - vault_net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homarr.rule=Host(`homarr.vault.local`)"
      - "traefik.http.routers.homarr.entrypoints=web"
      - "traefik.http.routers.homarr.middlewares=vault-auth@docker"
      - "traefik.http.services.homarr.loadbalancer.server.port=7575"

networks:
  vault_net:
    external: true
